{% extends "schedule/base_main.html" %}
{% block content %}
{% if access == "admin" %}
<div style ="margin-top: 5%;" class="container">
   <div style="height: 100%; width: 60%; margin-left:20%">
	<div class="form-group">
	 <form action="add_train" method="post">
	 	{% csrf_token %}
		<label for="add_train" style="font-size: 250%">Add Route</label>
		<input type="text" class="form-control" id='add_train' placeholder="Route ID (A1234)" name='train_id' style='margin-top: 3%'>
		<input type="text" class="form-control" id='model' placeholder="Train Model(AB123)" name='train_model'>
		<input type="text" class="form-control" id='name' placeholder="Train Name" name='name'>
		<input type="text" class="form-control" id='arrival' placeholder="Station of arrival" name='train_arrival'>
		<input type="text" class="form-control" id='departure' placeholder="Departure from" name='train_departure'>
		<input type="text" class="form-control" id='arrival_date' placeholder="Date and time of arrival" name='train_arrival_date'>
		<input type="text" class="form-control" id='departure_date' placeholder="Date and time of departure" name='train_departure_date'>
		<input type="text" class="form-control" id='service' placeholder="Service Class" name='service'>
		<input type="text" class="form-control" id='type' placeholder="Train Type" name='type'>
		<button type="submit" style="margin-top: 10px" class="btn btn-primary">Submit</button>
	 </form>
	</div>
	<div class="form-group" style="margin-top: 5%">
		<form action="add_station" method="post">
			{% csrf_token %}
			<label for="add_station" style="font-size: 250%">Add Station</label>
			<input type="text" class="form-control" id="add_station" placeholder="Station name" name="station_name">
			<input type="text" class="form-control" id="station_id" placeholder="International Station Id" name="station_id">
			<label for="station_info" style="font-size: 100%; margin-top: 10px;">Additional Info</label>
			<input type="text" class="form-control" id="station_info" placeholder="Additional Info" name="station_info">
			<button type="submit" style="margin-top: 10px" class="btn btn-primary">Submit</button>	
		</form>
	</div>
	<div class="form-group" style="margin-top: 4%">
	 <form action="edit_train" method="post">
	 	{% csrf_token %}
		<label for="edit_train" style="font-size: 250%">Edit Route</label>
		<br>
		<label for="edit_train" style="margin-bottom: 2px">ID of Editing Route </label>
		<input type="text" class="form-control" id='edit_train' placeholder="Route ID(A1234)" name='train_id' style='margin-top: 1px'>
		<label for='model' style="margin-top: 10px">New Info About Route</label>
		<input type="text" class="form-control" id='model' placeholder="Train Model(AB123)" name='train_model'>
		<input type="text" class="form-control" id='name' placeholder="Train Name" name='name'>
		<input type="text" class="form-control" id='arrival' placeholder="Station of arrival" name='train_arrival'>
		<input type="text" class="form-control" id='departure' placeholder="Departure from" name='train_departure'>
		<input type="text" class="form-control" id='arrival_date' placeholder="Date and time of arrival" name='train_arrival_date'>
		<input type="text" class="form-control" id='departure_date' placeholder="Date and time of departure" name='train_departure_date'>
		<input type="text" class="form-control" id='service' placeholder="Service Class" name='service'>
		<input type="text" class="form-control" id='type' placeholder="Train Type" name='type'>
		<button type="submit" style="margin-top: 10px" class="btn btn-primary">Submit</button>
	 </form>
	</div>
   </div>
</div>
{% endif %}
{% endblock %}