{% extends "schedule/base_main.html" %}
{% block content %}
{% for option in info %}
<div style ="margin-top: 5%;" class="container">
<p style="font-size: 220%"><b><b style="color: orange;">{{option.name}} ({{option.id}}) <br> {{option.type}}</b></b></p>
<p style="font-size: 200%">From <b>{{option.departure}}</b> to <b>{{option.arrival}}</b></p>
<p style="font-size: 150%">Departure at <b> {{option.departure_date}}</b></p> 
<p style="font-size: 150%">Arrival at <b> {{option.arrival_date}}</b></p>
<p style="font-size: 120%">Model: <b>{{option.model}}</b></p>
<p style="font-size: 120%">Service class: <b>{{option.service}}</b></p>
</div>
{% endfor %}
{% endblock %}s